<!-- Subheader -->
<md-subheader class="md-primary md-whiteframe-2dp bg-uno-white">
	<div layout="row">
		<h4>Subheader</h4>
		<span flex></span>
		<md-button class="md-icon-button">
			<md-icon ng-class="vm.bigScreen ? 'md-accent' : ''"> add_to_queue </md-icon>
		</md-button>
		<md-button class="md-icon-button">
			<md-icon ng-class="vm.isMobile ? 'md-accent' : ''"> stay_current_portrait </md-icon>
		</md-button>
	</div>
</md-subheader>

<div layout="column" layout-padding layout-fill flex flex-gt-sm="80" flex-offset-gt-sm="10">

	<div flex layout="column">
		<md-card md-whiteframe="24" class="bg-uno-white">
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">MdCard Header</span>
					<span class="md-subhead">MdCard Subheader</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<form name="testForm" layout-padding>
					<div layout="column" layout-gt-sm="row">

						<div flex-gt-sm="50" layout="column" layout-fill>
							<md-input-container class="md-block">
								<label>Name</label>
								<input required name="name"
									   ng-model="vm.name"
									   ng-disabled="!vm.enableFields">
								<div ng-messages="testForm.name.$error">
									<div ng-message="required">This is required.</div>
								</div>
							</md-input-container>
							<md-input-container class="md-block">
								<label>Email</label>
								<input required type="email" name="email"
									   ng-model="vm.email" ng-disabled="!vm.enableFields"
									   minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
								<div ng-messages="testForm.email.$error" role="alert">
									<div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
										Your email must be between 10 and 100 characters long and look like an e-mail address.
									</div>
								</div>
							</md-input-container>
							<div flex>
								<label>Birthday:</label>
								<md-datepicker ng-model="vm.birthday"
											   class="bg-uno-white" ng-disabled="!vm.enableFields">
								</md-datepicker>
							</div>
						</div>

						<div flex-gt-sm="50" layout="column" layout-padding layout-fill>
							<div flex layout="row">
								<md-input-container flex="50">
									<md-checkbox ng-model="vm.gender" ng-disabled="!vm.enableFields">
										UnoSquare Employee
									</md-checkbox>
								</md-input-container>
								<md-radio-group ng-model="vm.sexo" flex="50">
									<md-radio-button value="Mujer">Mujer</md-radio-button>
									<md-radio-button value="Hombre" class="md-primary"> Hombre </md-radio-button>
								</md-radio-group>
							</div>
							<md-input-container>
								<label>Area</label>
								<md-select ng-model="vm.area" ng-disabled="!vm.enableFields">
									<md-option ng-repeat="area in vm.areas" value="{{area.id}}">
										{{area.name}}
									</md-option>
								</md-select>
							</md-input-container>
							<md-switch ng-model="vm.enableFields">
								Enable/Disable Fields
							</md-switch>
						</div>
					</div>
				</form>
			</md-card-content>
			<md-card-actions layout="row" layout-align="end center">
				<md-button class="md-warn">WARN</md-button>
				<md-button class="md-accent">ACCENT</md-button>
				<md-button class="md-primary">PRIMARY</md-button>
			</md-card-actions>
		</md-card>
	</div>

	<div flex layout="column" layout-gt-sm="row">
		<div flex="100" flex-gt-sm="35" flex-offset-gt-md="5" flex-order="2" flex-order-gt-sm="-1">
			<md-card md-whiteframe="2" class="bg-uno-white">
				<md-list>
					<md-list-item>
						Contacts
					</md-list-item>
					<md-divider></md-divider>
					<md-list-item class="md-2-line"
								  flex flex-gt-sm="80" flex-offset-gt-md="10"
								  ng-repeat="phone in vm.phones">
						<md-icon>phone</md-icon>
						<div class="md-list-item-text">
							<h3> {{ phone.number }} </h3>
							<p> {{ phone.type }} </p>
						</div>
					</md-list-item>
				</md-list>
			</md-card>
		</div>

		<div flex="100" flex-gt-sm="50" flex-offset-gt-md="5" flex-order="-2" flex-order-gt-sm="1">
			<md-card md-whiteframe="10" class="bg-uno-white">
				<img ng-src="/assets/img/md-banner.png" class="md-card-image">

				<md-card-title>
					<md-card-title-text>
						<span class="md-headline">Material Design Goal</span>
					</md-card-title-text>
				</md-card-title>

				<md-card-content>
					<p>
						Create a visual language that synthesizes classic principles of good design
						with the innovation and possibility of technology and science.
					</p>
				</md-card-content>

				<md-card-actions layout="row" layout-align="end center">
					<md-button class="md-icon-button">
						<md-icon ng-click="vm.tooglePlusOne()" class="md-primary" ng-class="vm.like ? 'md-accent' : ''">thumb_up</md-icon>
					</md-button>
					<md-button class="md-icon-button">
						<md-icon ng-click="vm.showNotificacion()" class="md-primary">comment</md-icon>
					</md-button>
					<md-button class="md-icon-button">
						<md-icon ng-click="vm.shareModal()" class="md-primary">share</md-icon>
					</md-button>
				</md-card-actions>
			</md-card>
		</div>
	</div>
</div>
