<div layout="column" layout-padding layout-fill>
		<div flex layout-margin>
			<h4 flex="noshrink">Playing with Orientation</h4>
		</div>
		<md-divider></md-divider>
		<div layout="row" layout-sm="column" flex class="boxes-container">
			<div flex flex-gt-sm="50" layout="row" layout-align="center center" class="bg-uno-blue">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex flex-gt-sm="50" layout="row" layout-align="center center" class="bg-uno-black">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex flex-gt-sm="50" layout="row" layout-align="center center" class="bg-uno-white-alt">
				<img src="/assets/img/uno-logo-black.jpg" class="uno-logo"/>
			</div>
			<div flex flex-gt-sm="50" layout="row" layout-align="center center" class="bg-uno-lightblue">
				<img src="/assets/img/uno-logo-black.jpg" class="uno-logo"/>
			</div>
		</div>

		<div flex layout-margin>
			<h4 flex="noshrink">Playing with Size</h4>
		</div>
		<md-divider></md-divider>
		<div layout="row" flex class="boxes-container" layout-wrap>
			<div flex="50" flex-gt-sm="25" layout="row" layout-align="center center" class="bg-uno-blue">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex="50" flex-gt-sm="25" layout="row" layout-align="center center" class="bg-uno-black">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex="50" flex-gt-sm="25" layout="row" layout-align="center center" class="bg-uno-white-alt">
				<img src="/assets/img/uno-logo-black.jpg" class="uno-logo"/>
			</div>
			<div flex="50" flex-gt-sm="25" layout="row" layout-align="center center" class="bg-uno-lightblue">
				<img src="/assets/img/uno-logo-black.jpg" class="uno-logo"/>
			</div>
		</div>

		<div flex>
			<h4 flex="noshrink">Playing with Order</h4>
		</div>
		<md-divider></md-divider>
		<div layout="row" flex class="boxes-container" layout-wrap>
			<div flex="50" flex-gt-sm="25" layout="row" layout-align="center center"
				 flex-order="-20" flex-order-sm="0" class="bg-uno-blue">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex="50" flex-gt-sm="25" layout="row" layout-align="center center"
				 flex-order="-10" flex-order-sm="10" class="bg-uno-black">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex="50" flex-gt-sm="25" layout="row" layout-align="center center"
				 flex-order="0" flex-order-sm="-20" class="bg-uno-white-alt">
				<img src="/assets/img/uno-logo-black.jpg" class="uno-logo"/>
			</div>
			<div flex="50" flex-gt-sm="25" layout="row" layout-align="center center"
				 flex-order="10" flex-order-sm="-10" class="bg-uno-lightblue">
				<img src="/assets/img/uno-logo-black.jpg" class="uno-logo"/>
			</div>
		</div>

		<div flex layout-margin>
			<h4 flex="noshrink">Playing with Visibility</h4>
		</div>
		<md-divider></md-divider>
		<div layout="row" flex class="boxes-container">
			<div flex="50" layout="row" layout-align="center center"
				 hide-sm show-gt-sm class="bg-uno-blue">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex="50" layout="row" layout-align="center center"
				 hide-sm show-gt-sm class="bg-uno-black">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex="50" layout="row" layout-align="center center"
				 show-sm hide-gt-sm class="bg-uno-white-alt">
				<img src="/assets/img/uno-logo-black.jpg" class="uno-logo"/>
			</div>
			<div flex="50" layout="row" layout-align="center center"
				 show-sm hide-gt-sm class="bg-uno-lightblue">
				<img src="/assets/img/uno-logo-black.jpg" class="uno-logo"/>
			</div>
		</div>

</div>
