<div layout="column" layout-padding layout-fill class="demo-margin-bottom">

		<div flex>
			<h4 flex="noshrink">Layout Row - No Wrap</h4>
		</div>
		<md-divider></md-divider>
		<div layout-margin layout="row" flex class="boxes-container">
			<div flex="50" layout="row" layout-align="end start" class="bg-uno-blue">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex="50" layout="row" layout-align="start end" class="bg-uno-black">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex="50" layout="row" layout-align="center end" class="bg-uno-lightblue">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex="50" layout="row" layout-align="start center" class="bg-uno-white-alt">
				<img src="/assets/img/uno-logo-black.jpg" class="uno-logo"/>
			</div>
		</div>


		<div flex>
			<h4 flex="noshrink">Layout Row - Wrap</h4>
		</div>
		<md-divider></md-divider>
		<div layout="row" flex class="boxes-container" layout-wrap>
			<div flex=30" layout="row" layout-align="end end" class="bg-uno-blue">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex="70" layout="row" layout-align="center start" class="bg-uno-black">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex="70" layout="row" layout-align="center center" class="bg-uno-white-alt">
				<img src="/assets/img/uno-logo-black.jpg" class="uno-logo"/>
			</div>
			<div flex="30" layout="row" layout-align="end center" class="bg-uno-lightblue">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
		</div>

		<div flex>
			<h4 flex="noshrink">Layout Column</h4>
		</div>
		<md-divider></md-divider>
		<div layout="column" flex class="boxes-container">
			<div flex layout="row" layout-align="end start" class="bg-uno-blue">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex="50" layout="row" layout-align="start end" class="bg-uno-black">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex layout="row" layout-align="center end" class="bg-uno-lightblue">
				<img src="/assets/img/uno-logo.png" class="uno-logo"/>
			</div>
			<div flex layout="row" layout-align="start center" class="bg-uno-white-alt">
				<img src="/assets/img/uno-logo-black.jpg" class="uno-logo"/>
			</div>
		</div>


		<div flex>
			<h4 flex="noshrink">Layout Combined</h4>
		</div>
		<md-divider></md-divider>
		<div layout-margin layout="row" flex class="boxes-container">
			<div flex="50" layout="row">
				<div flex="60" class="bg-uno-blue">
					<img src="/assets/img/uno-logo.png" class="uno-logo"/>
				</div>
				<div flex="40" class="bg-uno-white-alt">
					<img src="/assets/img/uno-logo-black.jpg" class="uno-logo"/>
				</div>
			</div>
			<div flex="50" layout="column">
				<div class="bg-uno-black">
					<img src="/assets/img/uno-logo.png" class="uno-logo"/>
				</div>
				<div class="bg-uno-lightblue">
					<img src="/assets/img/uno-logo.png" class="uno-logo"/>
				</div>
			</div>
		</div>

<!--

	<div layout="column" layout-align="start center">
		<div flex>
			<p>Example Test</p>
		</div>
		<div flex>
			<p>Example Test</p>
		</div>
	</div>

	<div layout="row" layout-wrap>
		<div flex="50" layout layout-align="center center">
			<p>Center center</p>
		</div>
		<div flex="30" layout layout-align="end end">
			<p>End end</p>
		</div>
		<div flex="50" layout layout-align="center start">
			<p>Center start</p>
		</div>
	</div>

	<div layout="row" class="bg-uno-white-alt">
		<div flex="50" layout layout-align="center center" class="bg-uno-blue" style="height: 80px">
			<p>Center center</p>
		</div>
		<div flex="35" layout layout-align="end end" class="bg-uno-lightblue" style="height: 80px">
			<p>End end</p>
		</div>
		<div flex="50" layout layout-align="center start"  class="bg-uno-black" style="height: 80px">
			<p>Center start</p>
		</div>
	</div>

	<div layout="row" class="bg-uno-white-alt">
		<div flex="70" layout layout-align="center center" class="bg-uno-blue" style="height: 80px">
			<p>Center center</p>
		</div>
		<div flex="10" layout layout-align="end end" class="bg-uno-lightblue" style="height: 80px">
			<p>End end</p>
		</div>
		<div flex="20" layout layout-align="center start"  class="bg-uno-blue" style="height: 80px">
			<p>Center start</p>
		</div>
	</div>

-->

	<!-- For Article Screenshots-->
<!--

	<div layout="row" layout-align="center center">
		<div flex="20" layout layout-align="center center">
			<p>Center center</p>
		</div>
		<div flex="30" layout layout-align="end end">
			<p>End end</p>
		</div>
		<div flex="10" layout layout-align="center start">
			<p>Center start</p>
		</div>
	</div>
	<div layout="column">
		<div flex="20" layout layout-align="center center">
			<p>Center center</p>
		</div>
		<div flex="30" layout layout-align="end end">
			<p>End end</p>
		</div>
		<div flex="10" layout layout-align="center start">
			<p>Center start</p>
		</div>
	</div>
	<div layout="row" layout-wrap>
		<div flex="50" layout layout-align="center center">
			<p>Center center</p>
		</div>
		<div flex="30" layout layout-align="end end">
			<p>End end</p>
		</div>
		<div flex="50" layout layout-align="center start">
			<p>Center start</p>
		</div>
	</div>
-->


	<!-- Colored version-->
<!--	<div layout="row" layout-align="center center" class="bg-uno-white-alt" style="margin-top: 100px">
		<div flex="20" layout layout-align="center center" class="bg-uno-blue" style="height: 80px">
			<p>Center center</p>
		</div>
		<div flex="30" layout layout-align="end end" class="bg-uno-lightblue" style="height: 80px">
			<p>End end</p>
		</div>
		<div flex="10" layout layout-align="center start" class="bg-uno-blue" style="height: 80px">
			<p>Center start</p>
		</div>
	</div>-->
<!--	<div layout="column" class="bg-uno-white-alt" style="margin-top: 100px">
		<div flex="20" layout layout-align="center center" class="bg-uno-blue" style="height: 80px">
			<p>Center center</p>
		</div>
		<div flex="30" layout layout-align="end end" class="bg-uno-lightblue" style="height: 80px">
			<p>End end</p>
		</div>
		<div flex="10" layout layout-align="center start" class="bg-uno-blue" style="height: 80px">
			<p>Center start</p>
		</div>
	</div>-->
	<!--<div layout="row" class="bg-uno-white-alt" style="margin-top: 100px">
		<div flex="50" layout layout-align="center center" class="bg-uno-blue" style="height: 80px">
			<p>Center center</p>
		</div>
		<div flex="30" layout layout-align="end end" class="bg-uno-lightblue" style="height: 80px">
			<p>End end</p>
		</div>
		<div flex="50" layout layout-align="center start" class="bg-uno-black" style="height: 80px">
			<p>Center start</p>
		</div>
	</div>-->
	<div layout="row" layout-wrap class="bg-uno-white-alt" style="margin-top: 100px">
		<div flex="50" layout layout-align="center center" class="bg-uno-blue" style="height: 80px">
			<p>Center center</p>
		</div>
		<div flex="30" layout layout-align="end end" class="bg-uno-lightblue" style="height: 80px">
			<p>End end</p>
		</div>
		<div flex="50" layout layout-align="center start" class="bg-uno-black" style="height: 80px">
			<p>Center start</p>
		</div>
	</div>




</div>
