/*$uno-blue: #0eb5d1;*/
$uno-blue: rgb(14, 181, 209);
$uno-lightblue: rgba(14, 181, 209, 0.5);
$uno-black: rgba(0, 0, 0, 0.7);
$uno-white: rgb(255, 255, 255);
$uno-whites-alt: whitesmoke;

body{
	overflow: hidden;
}

#main-container{
	.md-subheader-inner{
		padding: 0 16px;
	}
}

.md-sideBarTheme-theme{
	a{
		color: black;
		font-size: 14px;
		font-weight: bold;
		text-decoration: none;
	}
	.md-subheader{
		font-weight: bold;
	}
}

.demo-margin-bottom{
	margin-bottom: 10px;
}

.boxes-container{
	div{
		height: 200px;
		margin-top: 20px;
	}
}

.uno-logo{
	height: 100px;
	width: 100px;
}

.bg-uno-black{
	background-color: $uno-black;
}

.bg-uno-blue{
	background-color: $uno-blue;
}

.bg-uno-lightblue{
	background-color: $uno-lightblue;
}

.bg-uno-white{
	background-color: $uno-white;
}

.bg-uno-white-alt{
	background-color: $uno-whites-alt;
}

.bg-color-app{
	background-color: whitesmoke;
}

.force-color-white{
	color: $uno-white !important;
}

