<!--Left Side Bar-->
<md-sidenav md-component-id="uno-sidebar" class="md-sidenav-left md-whiteframe-z2"
			md-theme="sideBarTheme" flex>
	<!-- Sidebar Header -->
	<md-toolbar layout="row" layout-padding layout-align="top right">
		<div class="md-toolbar-tools">
			<h2 flex="noshrink" class="force-color-white"><span>Demos</span></h2>
			<span flex></span>
			<md-button class="md-icon-button" aria-label="Close Sidebar" ng-click="vm.toggleLeftMenu()">
				<md-icon class="force-color-white">close</md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<!-- Sidebar Menu -->
	<md-list>
		<md-subheader>Layout Demos</md-subheader>
		<md-divider></md-divider>
		<md-list-item ng-click="vm.toggleLeftMenu()">
			<a href="#/layout" flex layout-fill>Containers and Children Arrangement</a>
		</md-list-item>
		<md-list-item ng-click="vm.toggleLeftMenu()">
			<a href="#/responsive" flex layout-fill>Responsive Layout</a>
		</md-list-item>

		<md-subheader>Directives & Services Demo</md-subheader>
		<md-divider></md-divider>
		<md-list-item ng-click="vm.toggleLeftMenu()">
			<a href="#/directives" flex layout-fill>Miscellany of Directives</a>
		</md-list-item>
	</md-list>
</md-sidenav>

<!--Top Nav Bar-->
<md-toolbar md-whiteframe="4">
	<div class="md-toolbar-tools">
		<md-button class="md-icon-button" ng-click="vm.toggleLeftMenu()">
			<md-icon class="force-color-white"> menu </md-icon>
		</md-button>
		<h2 class="force-color-white">{{vm.title}}</h2>
		<span flex></span>
		<md-button class="md-icon-button">
			<md-icon class="force-color-white"> account_circle </md-icon>
		</md-button>
		<h5 class="force-color-white">{{vm.username}}</h5>
		<md-menu>
			<md-button class="md-icon-button" ng-click="$mdOpenMenu($event)">
				<md-icon class="force-color-white"> more_vert </md-icon>
			</md-button>
			<md-menu-content width="4" class="bg-uno-white">
				<md-menu-item ng-repeat="item in [1, 2, 3]">
					<md-button> <span md-menu-align-target>Option</span> {{item}} </md-button>
				</md-menu-item>
			</md-menu-content>
		</md-menu>
	</div>
</md-toolbar>

<!-- Content -->
<md-content id="main-container" md-scroll-y class="demo-margin-bottom">
	<div ui-view></div>
</md-content>
